# Binaries
bin/
/mdee
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test artifacts
*.out
*.test
cpu.prof
mem.prof

# OS specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDEs
.idea/
.vscode/
*.swp
*.swo
*~
